
body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/linedpaper.png");
  background-color: rgb(249,249,249);
  margin: 0 auto;
  max-width: 860px;
}

.gradient-box::before {
    content: '';
    width: 100%;
    position: absolute;
    top: .75em;
    left: .75em;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg,#bff3d4 0%,#bbe0f8 50%,#e1c9fe 100%);
  
  }
  
  .gradient-box {
    border: 1px #5782f8 solid;
    padding: .75em;
    position: relative;
    background-color: white;
  }

  .placeholder-box {
      display: flex;
      min-height: 300px;
      margin: 2%;
      width: 33%;
      min-width: 300px;
  }
  .placeholder-box h1 {
    font-family: 'IBM Plex Mono', monospace;
  }

  .placeholder-box p {
    font-family: 'Montserrat', sans-serif;
  }

  .content {
      padding: 2%;
  }

  .info {
    display: flex;
    max-width: 80%
  }
